* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #d3d3d3;
}

body {
  position: relative;
}

footer,
.home,
.date {
  background-color: #000;
}

footer {
  height: auto;
}

header {
  z-index: 4;
  position: fixed;
  width: 100vw;
  height: 10vh;
  background-color: rgb(5, 7, 6);
}

header h2 {
  position: absolute;
  z-index: 3;
  top: 40%;
  left: 100%;
}

header ul,
footer,
.daft,
.punk,
.illusion,
.header_top {
  display: none;
}

h1,
h3 {
  color: #d3d3d3;
}

.book {
  color: #d3d3d3;
  font-weight: bold;
  border: none;
  line-height: 2;
  padding: 0.5rem 1rem;
  min-width: 200px;
  width: 40%;
  max-width: 300px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #ec5242;
}

.book:hover {
  cursor: pointer;
  text-decoration: underline;
}

#logo {
  position: absolute;
  z-index: 1;
  width: 40px;
  right: 0;
  margin-right: 20px;
}

.header_bottom {
  position: absolute;
  padding: 20px;
}

.home {
  position: relative;
  text-align: center;
  padding-top: 25%;
  min-height: 85vh;
}

.daft_mobile {
  width: 100%;
  margin-bottom: 15px;
}

.menu {
  position: absolute;
  z-index: 1;
}

.partners {
  display: none;
}

.type {
  font-size: 2rem;
  font-weight: lighter;
  padding: 5px;
}

.title {
  font-size: 1rem;
  padding: 5px;
  margin-bottom: 10px;
}

.marky {
  color: #ec5242;
  margin-bottom: 10px;
}

.details_home {
  width: 90%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  color: #d3d3d3;
  outline: solid 1px #d3d3d3;
  background-color: rgba(218, 201, 201, 0.301);
}

.date {
  text-align: left;
  padding: 50px 10px 15px 20px;
  font-weight: bold;
  font-size: 1.3rem;
  width: 100%;
}

.place {
  font-size: 14px;
  text-align: left;
  padding: 0 20px 45px 15px;
}

.singers {
  height: 80vh;
  text-align: center;
  width: 95%;
  margin: auto;
  background-color: #fff;
}

.program_section {
  text-align: center;
  color: #d3d3d3;
  height: auto;
  background-image: url("img/program_img.jpg");
  background-size: cover;
  padding: 10px 20px 20px 20px;
}

.section_title {
  color: #272a31;
  text-align: center;
  background-color: #d3d3d3;
  padding: 10px;
  margin-bottom: 20px;
}

.main_program {
  display: flex;
  flex-direction: column;
}

.main_program div {
  text-align: left;
  margin-bottom: 20px;
}

.prog {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.p1 img {
  float: left;
  padding-left: 10px;
}

.p1 h3 {
  text-align: center;
  font-size: 15px;
  padding-top: 10px;
}

.p1,
.p3 {
  flex: 1;
}

.audio {
  width: 40%;
}

.prog h3 {
  color: #ec5242;
  font-weight: bold;
}

.singers h2 {
  margin-top: 30px;
  color: #272a31;
}

.grid {
  padding-top: 10px;
  display: grid;
  grid-template-rows: 150px 150px;
  grid-template-columns: 100%;
  grid-gap: 15%;
}

.artist1,
.artist2 {
  position: relative;
}

.no_display {
  display: none;
}

.pic {
  z-index: 2;
  top: 10px;
  left: 10px;
  position: absolute;
  width: 120px;
  height: 120px;
  float: left;
}

.artist_info {
  margin-left: 150px;
  text-align: left;
}

.artist_info h3 {
  color: #000;
  font-weight: bold;
}

.description {
  font-style: italic;
  color: #ec5242;
  padding: 7px 0;
  font-size: 16px;
}

.details {
  font-size: 14px;
  padding: 10px 10px 10px 0;
  color: #000;
}

.hr_sep {
  width: 10%;
  color: grey;
  background-color: grey;
  border: 1px solid grey;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
}

.see_more {
  width: 90%;
  padding: 15px;
  margin: auto;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  background-color: transparent;
  border: 1px solid #ec5242;
}

.arrow {
  width: 12px;
  margin-left: 5px;
}

@media screen and (min-width: 768px) {
  .header_top {
    height: 4vh;
    background-color: rgb(2, 2, 2);
    display: block;
  }

  .social_nav {
    font-size: 12px;
    margin-right: 50px;
    display: flex;
    height: auto;
    float: right;
    list-style: none;
  }

  .social_nav li {
    padding: 10px 10px;
  }

  .social_nav li a {
    text-decoration: none;
  }

  .social_nav li a:hover {
    color: #ec5242;
  }

  .t {
    padding-top: 3px;
  }

  .social {
    width: 16px;
  }

  .home {
    height: 100vh;
    display: block;
    background: url("img/punk_home.jpg") no-repeat;
    background-size: contain;
    background-color: black;
    padding-top: 110px;
  }

  .daft_mobile,
  .details_home,
  .place {
    display: none;
  }

  .date {
    text-align: center;
    padding: 0;
  }

  .type {
    font-size: 40px;
  }

  .daft,
  .punk {
    display: block;
  }

  .daft {
    font-size: 6rem;
    letter-spacing: 15px;
    font-weight: bold;
    top: 40%;
    left: 5%;
    position: absolute;
    color: #d3d3d3;
  }

  .punk {
    position: absolute;
    color: #ec5242;
    font-weight: bold;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    font-size: 6rem;
    letter-spacing: 15px;
    top: 50%;
    left: 5%;
  }
}

@media screen and (min-width: 1024px) {
  #logo {
    position: absolute;
    z-index: 1;
    width: 40px;
    left: 0;
    margin-left: 60px;
  }

  header {
    height: 12vh;
  }

  .header_bottom {
    width: 100%;
    right: 0;
  }

  .menu {
    display: none;
  }

  footer,
  .illusion,
  .daft,
  .punk,
  .prog {
    display: block;
  }

  .menu_bottom_nav {
    position: absolute;
    right: 0;
    list-style: none;
  }

  .menu_bottom_nav,
  .main_program,
  .all ul,
  .wrapper,
  .partners {
    display: flex;
  }

  .main_program {
    flex-direction: row;
    width: 80%;
    margin: auto;
    margin-top: 100px;
  }

  .menu_bottom_nav li {
    margin-right: 60px;
    padding: 10px 0;
    transition: border-bottom 0.3s ease-in-out 0s;
  }

  .all ul li {
    justify-content: center;
    margin: 40px;
    padding-left: 20px;
    list-style: none;
  }

  .menu_bottom_nav li:hover {
    color: #ec5242;
    border-bottom: #d3d3d3 solid 2px;
  }

  .menu_bottom_nav li a {
    text-decoration: none;
  }

  .about {
    color: #ec5242;
    font-weight: bold;
  }

  .type {
    font-size: 80px;
  }

  .home {
    padding-top: 110px;
  }

  .illusion {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
  }

  .daft {
    font-size: 8.5rem;
    letter-spacing: 15px;
    font-weight: bold;
    top: 50%;
    left: 5%;
    position: absolute;
    color: #d3d3d3;
  }

  .punk {
    position: absolute;
    color: #ec5242;
    font-weight: bold;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    font-size: 8.5rem;
    letter-spacing: 15px;
    top: 68%;
    left: 5%;
  }

  .section_title {
    margin: auto;
    margin-top: 30px;
    width: 30%;
  }

  li img {
    width: 80px;
  }

  .p1 img {
    float: none;
  }

  .main_program div {
    text-align: center;
  }

  .program_section {
    height: 70vh;
  }

  .grid {
    width: 70%;
    margin: auto;
    margin-top: 8%;
    grid-template-rows: 150px 150px;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
  }

  .singers {
    height: auto;
    padding-bottom: 130px;
  }

  .partners {
    height: auto;
  }

  .all {
    justify-content: center;
    width: 100vw;
    height: 100%;
    margin-top: 60px;
    background-color: #ec5242;
  }

  .all ul {
    padding: 0;
    justify-content: center;
  }

  .wrapper {
    width: 85%;
    margin: auto;
  }

  .footer_logo {
    width: 300px;
  }

  .wrapper p {
    margin: 30px;
    margin-top: 60px;
  }
}
